In [1]:
import pandas as pd
import numpy as np

pd.Series(집합적 자료형)
pd.Series(리스트)

In [2]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [3]:
s = pd.Series((1,2,3))
s

0    1
1    2
2    3
dtype: int64

In [5]:
s2 =  pd.Series(['a','b'])
s2

0    a
1    b
dtype: object

In [6]:
s_1 = pd.Series(['a', 1, 2.0])
s_1

0      a
1      1
2    2.0
dtype: object

범위로 표현할 수도 있다

In [7]:
r = pd.Series(range(1, 10))
r

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [8]:
range(1, 10)

range(1, 10)

numpy를 이용하여 범위의 array를 만들 수 있다.

In [11]:
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

이를 Series로 만들면 다음과 같다

In [12]:
s3 = pd.Series(np.arange(100))
s3

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int32

- 결측값을 포함해서 시리즈 만들기
    - 결측값 NaN - numpy라는 모듈에서 생성 가능하다
    - 결측값 생성을 위해서는 numpy 모듈이 필요하다

In [13]:
s = pd.Series([1,2,3, np.nan,4,5])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

- index값을 지정하여 Series를 만들 수 있다

In [16]:
s = pd.Series([1,2,3], index=[3,2,'문자'])
s

3     1
2     2
문자    3
dtype: int64

- 인덱스의 활용

In [18]:
s = pd.Series(np.arange(1, 5), index=np.arange(1,5))
s

1    1
2    2
3    3
4    4
dtype: int32

In [19]:
s.index

Index([1, 2, 3, 4], dtype='int32')

In [22]:
s.index.name = '숫자'
s

숫자
1    1
2    2
3    3
4    4
dtype: int32

In [23]:
s.index

Index([1, 2, 3, 4], dtype='int32', name='숫자')

In [24]:
s.values

array([1, 2, 3, 4])

In [25]:
s.name = 'test'
s

숫자
1    1
2    2
3    3
4    4
Name: test, dtype: int32

- 인덱싱

In [32]:
s = pd.Series(['서울', '인천', '부산'], index=['도시1','도시2','도시3'])
s.name = '도시'
s.index.name = '번호'
s

번호
도시1    서울
도시2    인천
도시3    부산
Name: 도시, dtype: object

In [34]:
s['도시3']

'부산'

In [36]:
s[1]

'인천'